//////////Design widths//////////
$mobile: 200px;
$ipad: 768px;
$desktop: 1440px;
$laptop: 1280px;

//////////Font//////////
$font-stack: 'Barlow Semi Condensed',
sans-serif;
$text-body: 13px;
$text-weight-medium: 600;
$text-weight-normal: 500;

//////////Colors//////////
//Primary
$moderate-violet: hsl(263, 55%, 52%);
$dark-grayish-blue: hsl(217, 19%, 35%);
$dark-blackish-blue: hsl(219, 29%, 14%);
$white: hsl(0, 0%, 100%);

//Neutral
$regular-gray: gray;
$light-gray: hsl(0, 0%, 81%);
$light-grayish-blue: hsl(210, 46%, 95%);


//////////Measurements//////////
$card-radius: 15px;
$card-bt-margin: 10px 2px 5px 20px;
$card-img-radius: 30px;
$standard-body-margin: 20px;
$large-body-margin: 50px;

html {
    padding: 0;
    margin: 0;
}

body {
    box-sizing: border-box;
    font: 100% $font-stack;
    font-size: $text-body;
}

h2 {
    font-weight: $text-weight-normal;
    padding: 0 15px;
}

p {
    opacity: 70%;
    line-height: 1.2;
    padding: 20px;
}

header {
    height: 60px;
}

p,
.grad-verified {
    font-weight: $text-weight-normal;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

.avatar {
    width: 32px;
    height: 32px;
    border: 2px $light-gray solid;
    border-radius: 10px;
}

.bg-card-svg {
    position: absolute;
    z-index: -1;
    left: 70%;
    top: 0;
}

.card {
    border-radius: $card-radius;
    padding: 1px;
    box-shadow: 27px 34px 35px -10px $regular-gray;
}

.card-container {
    margin-bottom: $standard-body-margin;
}

.card-img,
.card-img-v {
    border-radius: $card-img-radius;
    margin: $card-bt-margin;
}

.card-img {
    border: 3px rgba($light-gray, .3) solid;
    grid-column: 1 / 2;
}

.card-img-v {
    border: 3px rgba($moderate-violet, .5) solid;
}

.card-1,
.card-2,
.card-4 {
    color: $white;
}

.card-1 {
    background-color: $moderate-violet;
    position: relative;
    z-index: -2;
}

.card-2 {
    background-color: $dark-grayish-blue;
}

.card-3 {
    background-color: $light-grayish-blue;
}

.card-4 {
    background-color: $dark-blackish-blue;
}

.card-top {
    display: grid;
    grid-template: 1fr / repeat(6, 1fr);
    grid-gap: 2px;
}

.grad {
    font-weight: $text-weight-medium;
    font-size: 13px;
    grid-column: 2 / 4;
}

.grad-label {
    grid-column: 2 / 4;
}

.grad-verified {
    opacity: 50%;
    font-size: 12px;
    grid-column: 2 / 4;
}

@media all and (min-width: $mobile) {
    body {
        margin: $large-body-margin $standard-body-margin;
    }
    p {
        line-height: 2;
    }
    .bg-card-svg {
        position: absolute;
        left: 55%;
    }

    .card {
        margin-bottom: $card-bt-margin;
    }

    .card-container {
        margin: $standard-body-margin;
    }

    .grad-label {
        grid-column: 2 / 4;
    }
}

@media all and (min-width: $ipad) {
    body {
        margin: $large-body-margin $standard-body-margin;
    }

    h2 {
        font-size: medium;
        margin: $standard-body-margin 5px;
        line-height: 1.25;
    }

    p {
        line-height: 2;
        margin: $standard-body-margin 15px;
    }

    .bg-card-svg {
        position: absolute;
        left: 70%;
    }

    .card {
        margin-bottom: $card-bt-margin;
    }

    .card-container {
        margin: $standard-body-margin;
    }

    .grad-label {
        grid-column: 2/3;
        grid-row: 1/1;
    }

    .grid-container {
        display: grid;
        grid-template: repeat(18, 1fr) / repeat(18, 1fr);
        grid-gap: 2px;
    }

    .Daniel {
        grid-column: 2 / 18;
        grid-row: 2 / 8;
    }

    .Jonathan {
        grid-column: 2 / 10;
        grid-row: 8 / 14;
    }

    .Kira {
        grid-column: 4 / 16;
        grid-row: 20 / 26;
    }

    .Jeanette {
        grid-column: 10 / 18;
        grid-row: 8 / 14;
    }

    .Patrick {
        grid-column: 2 / 18;
        grid-row: 14 / 20;
    }
}

@media all and (min-width: $laptop) {
    body {
        margin: $standard-body-margin;
    }

    h2 {
        font-size: medium;
        padding: 1px 5px;
    }

    p {
        opacity: 70%;
        line-height: 2;
        margin: 5px;
    }

    .bg-card-svg {
        position: absolute;
        left: 65%;
    }

    .grid-container {
        display: grid;
        grid-template: repeat(18, 1fr) / repeat(18, 1fr);
        grid-gap: 2px;
    }

    .Daniel {
        grid-column: 2 / 10;
        grid-row: 2 / 9;
    }

    .Jonathan {
        grid-column: 10 / 14;
        grid-row: 2 / 9;
    }

    .Kira {
        grid-column: 14 / 18;
        grid-row: 2 / 15;
    }

    .Jeanette {
        grid-column: 2 / 6;
        grid-row: 9 / 15;
    }

    .Jeanette>h2 {
        padding: 1px 30px;
    }

    .Patrick {
        grid-column: 6 / 14;
        grid-row: 9 / 15;
    }
}

@media all and (min-width: $desktop) {
    body {
        margin: $standard-body-margin 10px;
    }

    h2 {
        font-size: medium;
        padding: 1px 15px;
    }

    p {
        opacity: 70%;
        line-height: 2;
        margin: 5px;
    }

    .card-container {
        margin-bottom: 10px;
    }

    .grid-container {
        display: grid;
        grid-template: repeat(18, 1fr) / repeat(14, 1fr);
        grid-gap: 2px;
    }

    .Daniel {
        grid-column: 2 / 8;
        grid-row: 2 / 7;
    }

    .Jonathan {
        grid-column: 8 / 11;
        grid-row: 2 / 7;
    }

    .Kira {
        grid-column: 11 / 14;
        grid-row: 2 / 12;
    }

    .Jeanette {
        grid-column: 2 / 5;
        grid-row: 7 / 12;
    }

    .Patrick {
        grid-column: 5 / 11;
        grid-row: 7 / 12;
    }
}