html {
  padding: 0;
  margin: 0;
}

body {
  box-sizing: border-box;
  font: 100% "Barlow Semi Condensed", sans-serif;
  font-size: 13px;
}

h2 {
  font-weight: 500;
  padding: 15px;
}

p {
  opacity: 70%;
  line-height: 1.2;
  padding: 20px;
}

header {
  height: 60px;
}

p,
.grad-verified {
  font-weight: 500;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}

.avatar {
  width: 32px;
  height: 32px;
  border: 2px #cfcfcf solid;
  border-radius: 10px;
}

.bg-card-svg {
  position: absolute;
  z-index: -1;
  left: 70%;
  top: 0;
}

.card {
  border-radius: 15px;
  padding: 1px;
  box-shadow: 27px 34px 35px -10px gray;
}

.card-container {
  margin-bottom: 20px;
}

.card-img,
.card-img-v {
  border-radius: 30px;
  margin: 10px 2px 5px 20px;
}

.card-img {
  border: 3px rgba(207, 207, 207, 0.3) solid;
  grid-column: 1/2;
}

.card-img-v {
  border: 3px rgba(117, 65, 200, 0.5) solid;
}

.card-1,
.card-2,
.card-4 {
  color: white;
}

.card-1 {
  background-color: #7541c8;
  position: relative;
  z-index: -2;
}

.card-2 {
  background-color: #48556a;
}

.card-3 {
  background-color: #ecf2f8;
}

.card-4 {
  background-color: #19212e;
}

.card-top {
  display: grid;
  grid-template: 1fr/repeat(6, 1fr);
  grid-gap: 2px;
}

.grad {
  font-weight: 600;
  font-size: 13px;
  grid-column: 2/4;
}

.grad-label {
  grid-column: 2/4;
}

.grad-verified {
  opacity: 50%;
  font-size: 12px;
  grid-column: 2/4;
}

@media all and (min-width: 200px) {
  body {
    margin: 50px 20px;
  }

  .bg-card-svg {
    position: absolute;
    left: 55%;
  }

  .card {
    margin-bottom: 10px 2px 5px 20px;
  }

  .card-container {
    margin: 20px;
  }

  .grad-label {
    grid-column: 2/4;
  }
}
@media all and (min-width: 768px) {
  body {
    margin: 50px 20px;
  }

  h2 {
    font-size: medium;
  }

  .bg-card-svg {
    position: absolute;
    left: 70%;
  }

  .card {
    margin-bottom: 10px 2px 5px 20px;
  }

  .card-container {
    margin: 20px;
  }

  .grad-label {
    grid-column: 2/3;
    grid-row: 1/1;
  }

  .grid-container {
    display: grid;
    grid-template: repeat(18, 1fr)/repeat(18, 1fr);
    grid-gap: 2px;
  }

  .Daniel {
    grid-column: 2/18;
    grid-row: 2/8;
  }

  .Jonathan {
    grid-column: 2/10;
    grid-row: 8/14;
  }

  .Kira {
    grid-column: 4/16;
    grid-row: 20/26;
  }

  .Jeanette {
    grid-column: 10/18;
    grid-row: 9/13;
  }

  .Jeanette > h2 {
    padding: 1px 30px;
  }

  .Patrick {
    grid-column: 2/18;
    grid-row: 14/20;
  }
}
@media all and (min-width: 1280px) {
  body {
    margin: 20px;
  }

  h2 {
    font-size: medium;
    padding: 1px 15px;
  }

  p {
    opacity: 70%;
    line-height: 2;
    margin: 5px;
  }

  .bg-card-svg {
    position: absolute;
    left: 65%;
  }

  .grid-container {
    display: grid;
    grid-template: repeat(18, 1fr)/repeat(18, 1fr);
    grid-gap: 2px;
  }

  .Daniel {
    grid-column: 2/10;
    grid-row: 2/9;
  }

  .Jonathan {
    grid-column: 10/14;
    grid-row: 2/9;
  }

  .Kira {
    grid-column: 14/18;
    grid-row: 2/15;
  }

  .Jeanette {
    grid-column: 2/6;
    grid-row: 9/15;
  }

  .Jeanette > h2 {
    padding: 1px 30px;
  }

  .Patrick {
    grid-column: 6/14;
    grid-row: 9/15;
  }
}
@media all and (min-width: 1440px) {
  body {
    margin: 20px 10px;
  }

  h2 {
    font-size: medium;
    padding: 1px 15px;
  }

  p {
    opacity: 70%;
    line-height: 2;
    margin: 5px;
  }

  .card-container {
    margin-bottom: 10px;
  }

  .grid-container {
    display: grid;
    grid-template: repeat(18, 1fr)/repeat(14, 1fr);
    grid-gap: 2px;
  }

  .Daniel {
    grid-column: 2/8;
    grid-row: 2/7;
  }

  .Jonathan {
    grid-column: 8/11;
    grid-row: 2/7;
  }

  .Kira {
    grid-column: 11/14;
    grid-row: 2/12;
  }

  .Jeanette {
    grid-column: 2/5;
    grid-row: 7/12;
  }

  .Patrick {
    grid-column: 5/11;
    grid-row: 7/12;
  }
}

/*# sourceMappingURL=output.css.map */
